<footer class="bg-dark text-light py-4 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'store' %}" class="text-light">Store</a></li>
                    <li><a href="{% url 'cart' %}" class="text-light">Cart</a></li>
                    <li><a href="{% url 'checkout' %}" class="text-light">Checkout</a></li>
                    <li><a href="#" class="text-light">Contact Us</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h5>Follow Us</h5>
                <a href="#" class="text-light me-2"><i class="fab fa-facebook fa-lg"></i></a>
                <a href="#" class="text-light me-2"><i class="fab fa-twitter fa-lg"></i></a>
                <a href="#" class="text-light me-2"><i class="fab fa-instagram fa-lg"></i></a>
                <a href="#" class="text-light"><i class="fab fa-linkedin fa-lg"></i></a>
            </div>

            <div class="col-md-4">
                <h5>About Us</h5>
                <p class="small">We are committed to providing the best e-commerce experience. Check out our store for the latest products and deals!</p>
            </div>
        </div>
        <hr class="border-light">
        <div class="text-center small">
            &copy; 2024 YourCompanyName. All rights reserved.
        </div>
    </div>
</footer>

<script src="https://kit.fontawesome.com/a076d05399.js"></script>
