@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font: 16px/1.5 Nunito, sans-serif;
    background-color: #fafafa;
    padding-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, sans-serif;
}

a, p {
    color: #4b5156;
}

.container {
    max-width: 550px;
    margin: auto;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 13px -4px rgb(0, 0, 0, 0.2);
    box-shadow: 2px 2px 13px -4px rgb(0, 0, 0, 0.2);
}